html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

main {
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 3rem;
    height: auto;
    width: 100%;
    top: 100px;
}

.header-title {
    margin-left: 3rem;
}

.store-module {
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.store-module h3,
select,
div {
    margin-left: 0.5rem;
}

.store-container {
    display: grid;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    min-width: 650px;
    max-width: 800px;
    position: relative;
}

.bank-container {
    grid-row: 1;
    grid-column: 1;
}

.loan-value-container {
    visibility: hidden;
}

.work-container {
    grid-row: 1;
    grid-column: 2;
}

.laptop-select-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 3;
    overflow: hidden;
    display: grid;
    grid-template-rows: 20% 20%;
}

.laptop-select-container h3,
h5,
ul,
il {
    height: 0rem;
}

.laptop-select-container h5 {
    margin-top: 0;
}

.laptop-select-container ul {
    font-size: 0.6rem;
}

.laptop-select-container select {
    height: 1.5rem;
    width: 90%;
    justify-self: center;
    align-self: center;
    border-radius: 4px;
}

.laptop-info-container {
    grid-row: 2;
    grid-column: 1 / 4;
    width: auto;
    max-width: 800;
    min-height: 150px;
    display: flex;
    flex: 20% 60% 20%;
    justify-content: space-evenly;
    align-items: center;
}

.laptop-price-container {
    display: grid;
    justify-content: center;
}

.-title-description {
    font-size: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 90%;
    justify-self: center;
}

.button {
    background-color: #4BF1A1;
    border: 1px solid #49D390;
    border-radius: 4px;
    width: 90%;
    justify-self: center;
    font-weight: bold;
    height: 2.5rem;
    align-self: flex-end;
    margin-bottom: 1rem;
    ;
}

.bank-button {
    background-color: #EDEF4E;
    border-color: #D5D670;
}

.work-button {
    background-color: #4D70F0;
    border-color: #5C71B3;
    color: white;
}

.pay-loan-button {
    background-color: #7044aa;
    border-color: #7142af;
    color: white;
}

.buy-button {
    background-color: #4CC9F1;
    border-color: #47B7DD;
}

.custom-img-button {
    height: 2rem;
    max-width: 6rem;
    margin-left: auto;
    align-self: center;
    background-color: gray;
    border-color: grey;
}

.laptop-image {
    max-width: 100px;
    max-height: 100px;
}